<div class="container">
  <h1>See your results</h1>
  <h2>This is your word:</h2>
   <table>
    <tr>
      <th><%= @word[0] %></th>
      <th><%= @word[1] %></th>
      <th><%= @word[2] %></th>
      <th><%= @word[3] %></th>
      <th><%= @word[4] %></th>
      <th><%= @word[5] %></th>
      <th><%= @word[6] %></th>
      <th><%= @word[7] %></th>
      <th><%= @word[8] %></th>
      <th><%= @word[9] %></th>
    </tr>
  </table>
   <a><%= link_to "PLAY AGAIN", new_path %></a>
</div>
